In [1]:
! pip install folium

Collecting folium
  Downloading folium-0.5.0.tar.gz (79kB)
Collecting branca (from folium)
  Downloading branca-0.2.0-py3-none-any.whl
Requirement already satisfied: jinja2 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from folium)
Collecting requests (from folium)
  Downloading requests-2.18.4-py2.py3-none-any.whl (88kB)
Requirement already satisfied: six in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from folium)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from jinja2->folium)
Collecting idna<2.7,>=2.5 (from requests->folium)
  Downloading idna-2.6-py2.py3-none-any.whl (56kB)
Collecting chardet<3.1.0,>=3.0.2 (from requests->folium)
  Downloading chardet-3.0.4-py2.py3-none-any.whl (133kB)
Collecting urllib3<1.23,>=1.21.1 (from requests->folium)
  Downloading urllib3-1.22-py2.py3-none-any.whl (132kB)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from requests->folium)
Building wheels for collected packages: folium
  Running setup.py bdist_wheel for folium: started
  Running setup.py bdist_wheel for folium: finished with status 'done'
  Stored in directory: C:\Users\Nikesh\AppData\Local\pip\Cache\wheels\04\d0\a0\b2b8356443364ae79743fce0b9b6a5b045f7560742129fde22
Successfully built folium
Installing collected packages: branca, idna, chardet, urllib3, requests, folium
Successfully installed branca-0.2.0 chardet-3.0.4 folium-0.5.0 idna-2.6 requests-2.18.4 urllib3-1.22

In [2]:
! pip install pivottablejs

Collecting pivottablejs
  Downloading pivottablejs-0.9.0-py2.py3-none-any.whl
Installing collected packages: pivottablejs
Successfully installed pivottablejs-0.9.0

In [3]:
! pip install pandas
! pip install matplotlib
! pip install seaborn
! pip install plotly

Collecting pandas
  Using cached pandas-0.22.0-cp36-cp36m-win_amd64.whl
Collecting pytz>=2011k (from pandas)
  Using cached pytz-2018.3-py2.py3-none-any.whl
Collecting numpy>=1.9.0 (from pandas)
  Downloading numpy-1.14.1-cp36-none-win_amd64.whl (13.4MB)
Requirement already satisfied: python-dateutil>=2 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from pandas)
Requirement already satisfied: six>=1.5 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from python-dateutil>=2->pandas)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.14.1 pandas-0.22.0 pytz-2018.3
Collecting matplotlib
  Using cached matplotlib-2.1.2-cp36-cp36m-win_amd64.whl
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 (from matplotlib)
  Using cached pyparsing-2.2.0-py2.py3-none-any.whl
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.10.0-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.1 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib)
Requirement already satisfied: six>=1.10 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib)
Requirement already satisfied: numpy>=1.7.1 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib)
Requirement already satisfied: pytz in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib)
Installing collected packages: pyparsing, cycler, matplotlib
Successfully installed cycler-0.10.0 matplotlib-2.1.2 pyparsing-2.2.0
Collecting seaborn
Collecting scipy (from seaborn)
  Using cached scipy-1.0.0-cp36-none-win_amd64.whl
Requirement already satisfied: matplotlib in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from seaborn)
Requirement already satisfied: numpy>=1.8.2 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from scipy->seaborn)
Requirement already satisfied: six>=1.10 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib->seaborn)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib->seaborn)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib->seaborn)
Requirement already satisfied: pytz in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib->seaborn)
Requirement already satisfied: cycler>=0.10 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib->seaborn)
Installing collected packages: scipy, seaborn
Successfully installed scipy-1.0.0 seaborn-0.8.1
Collecting plotly
  Downloading plotly-2.4.1.tar.gz (24.9MB)
Requirement already satisfied: decorator>=4.0.6 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from plotly)
Requirement already satisfied: nbformat>=4.2 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from plotly)
Requirement already satisfied: pytz in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from plotly)
Requirement already satisfied: requests in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from plotly)
Requirement already satisfied: six in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from plotly)
Requirement already satisfied: ipython_genutils in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from nbformat>=4.2->plotly)
Requirement already satisfied: traitlets>=4.1 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from nbformat>=4.2->plotly)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from nbformat>=4.2->plotly)
Requirement already satisfied: jupyter_core in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from nbformat>=4.2->plotly)
Requirement already satisfied: idna<2.7,>=2.5 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from requests->plotly)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from requests->plotly)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from requests->plotly)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from requests->plotly)
Building wheels for collected packages: plotly
  Running setup.py bdist_wheel for plotly: started
  Running setup.py bdist_wheel for plotly: finished with status 'done'
  Stored in directory: C:\Users\Nikesh\AppData\Local\pip\Cache\wheels\35\e4\58\50b15ca81e61bd553172ca2dc2ddf4a53278da34f3a9d8e5e9
Successfully built plotly
Installing collected packages: plotly
Successfully installed plotly-2.4.1

In [4]:
! pip install missingno
! pip install pandas_profiling
! pip install mpld3

Collecting missingno
  Downloading missingno-0.4.0.tar.gz
Requirement already satisfied: numpy in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from missingno)
Requirement already satisfied: matplotlib in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from missingno)
Requirement already satisfied: scipy in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from missingno)
Requirement already satisfied: seaborn in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from missingno)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib->missingno)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib->missingno)
Requirement already satisfied: cycler>=0.10 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib->missingno)
Requirement already satisfied: six>=1.10 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib->missingno)
Requirement already satisfied: pytz in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib->missingno)
Building wheels for collected packages: missingno
  Running setup.py bdist_wheel for missingno: started
  Running setup.py bdist_wheel for missingno: finished with status 'done'
  Stored in directory: C:\Users\Nikesh\AppData\Local\pip\Cache\wheels\92\46\9a\a8f3e9ad98ee4a53242e5ec371309dd71bd1177eb95c72788f
Successfully built missingno
Installing collected packages: missingno
Successfully installed missingno-0.4.0
Collecting pandas_profiling
  Downloading pandas_profiling-1.4.1-py2.py3-none-any.whl
Requirement already satisfied: jinja2>=2.8 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from pandas_profiling)
Requirement already satisfied: matplotlib>=1.4 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from pandas_profiling)
Requirement already satisfied: pandas>=0.19 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from pandas_profiling)
Requirement already satisfied: six>=1.9 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from pandas_profiling)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from jinja2>=2.8->pandas_profiling)
Requirement already satisfied: cycler>=0.10 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib>=1.4->pandas_profiling)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib>=1.4->pandas_profiling)
Requirement already satisfied: numpy>=1.7.1 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib>=1.4->pandas_profiling)
Requirement already satisfied: pytz in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib>=1.4->pandas_profiling)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\nikesh\anaconda3\envs\ads_assign2\lib\site-packages (from matplotlib>=1.4->pandas_profiling)
Installing collected packages: pandas-profiling
Successfully installed pandas-profiling-1.4.1
Collecting mpld3
  Downloading mpld3-0.3.tar.gz (788kB)
Building wheels for collected packages: mpld3
  Running setup.py bdist_wheel for mpld3: started
  Running setup.py bdist_wheel for mpld3: finished with status 'done'
  Stored in directory: C:\Users\Nikesh\AppData\Local\pip\Cache\wheels\69\bc\68\7ca3b696749d183e998968fc24b0ff3c5e119d9e68bf495b07
Successfully built mpld3
Installing collected packages: mpld3
Successfully installed mpld3-0.3

In [27]:
!pip install sklearn

Collecting sklearn
Collecting scikit-learn (from sklearn)
  Downloading scikit_learn-0.19.1-cp36-cp36m-win_amd64.whl (4.3MB)
Installing collected packages: scikit-learn, sklearn
Successfully installed scikit-learn-0.19.1 sklearn-0.0

In [28]:
%matplotlib inline
%config InlineBackend.figure_format='retina'

import matplotlib.pyplot as plt
import pandas as pd
import time
import numpy as np
import seaborn as sns
import datetime

import matplotlib as mpl
from matplotlib import pyplot as plt
from matplotlib.pyplot import GridSpec


from sklearn.datasets import make_blobs
import time

In [3]:
data = pd.read_csv("training.csv")

In [4]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2,NSM,WeekStatus,Day_of_week
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433,61200,Weekday,Monday
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195,61800,Weekday,Monday
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668,62400,Weekday,Monday
3,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097,63600,Weekday,Monday
4,2016-01-11 17:50:00,50,40,19.89,46.026667,19.2,44.500000,19.79,44.933333,18.890000,...,734.0,92.0,5.333333,43.833333,4.8,44.919484,44.919484,64200,Weekday,Monday

In [14]:
data.shape

(14803, 32)

In [15]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Appliances,14803.0,98.011214,102.828019,10.000000,50.000000,60.000000,100.000000,1080.000000
lights,14803.0,3.802608,7.940340,0.000000,0.000000,0.000000,0.000000,50.000000
T1,14803.0,21.684167,1.607780,16.790000,20.730000,21.600000,22.600000,26.260000
RH_1,14803.0,40.271439,3.981741,27.023333,37.361667,39.656667,43.090000,63.360000
T2,14803.0,20.342506,2.191842,16.100000,18.823333,20.000000,21.500000,29.856667
RH_2,14803.0,40.418056,4.066223,20.893333,37.900000,40.500000,43.290000,56.026667
T3,14803.0,22.262628,2.013785,17.200000,20.790000,22.100000,23.290000,29.236000
RH_3,14803.0,39.249149,3.252755,28.766667,36.900000,38.530000,41.761667,50.163333
T4,14803.0,20.855433,2.044786,15.100000,19.500000,20.666667,22.100000,26.200000
RH_4,14803.0,39.030359,4.339783,27.660000,35.530000,38.400000,42.130000,51.063333
T5,14803.0,19.585043,1.847725,15.330000,18.265000,19.390000,20.600000,25.745000
RH_5,14803.0,50.961769,9.046095,29.856667,45.400000,49.090000,53.663333,95.953889
T6,14803.0,7.921003,6.103785,-6.065000,3.656667,7.295000,11.245000,28.290000
RH_6,14803.0,54.623669,31.203920,1.000000,30.098333,55.296667,83.326667,99.900000
T7,14803.0,20.263911,2.115320,15.390000,18.700000,20.033333,21.600000,26.000000
RH_7,14803.0,35.387456,5.118179,23.200000,31.500000,34.823333,39.002500,51.400000
T8,14803.0,22.029160,1.958897,16.306667,20.790000,22.128571,23.390000,27.230000
RH_8,14803.0,42.924554,5.242376,29.600000,39.060000,42.363333,46.561667,58.780000
T9,14803.0,19.480759,2.017733,14.890000,18.000000,19.390000,20.600000,24.500000
RH_9,14803.0,41.542065,4.150839,29.166667,38.500000,40.863333,44.363333,53.326667
T_out,14803.0,7.413018,5.323843,-5.000000,3.666667,6.900000,10.400000,25.966667
Press_mm_hg,14803.0,755.502983,7.427684,729.300000,750.866667,756.100000,760.933333,772.300000
RH_out,14803.0,79.734122,14.955609,24.000000,70.000000,83.666667,91.666667,100.000000
Windspeed,14803.0,4.034470,2.436870,0.000000,2.000000,3.666667,5.500000,13.500000
Visibility,14803.0,38.330141,11.812780,1.000000,29.000000,40.000000,40.000000,66.000000
Tdewpoint,14803.0,3.756859,4.200297,-6.600000,0.900000,3.450000,6.533333,15.500000
rv1,14803.0,25.078087,14.481537,0.005322,12.580425,25.043993,37.665907,49.996530
rv2,14803.0,25.078087,14.481537,0.005322,12.580425,25.043993,37.665907,49.996530
NSM,14803.0,42985.989326,24968.649028,0.000000,21600.000000,43200.000000,64800.000000,85800.000000

In [16]:
data.dtypes

date            object
Appliances       int64
lights           int64
T1             float64
RH_1           float64
T2             float64
RH_2           float64
T3             float64
RH_3           float64
T4             float64
RH_4           float64
T5             float64
RH_5           float64
T6             float64
RH_6           float64
T7             float64
RH_7           float64
T8             float64
RH_8           float64
T9             float64
RH_9           float64
T_out          float64
Press_mm_hg    float64
RH_out         float64
Windspeed      float64
Visibility     float64
Tdewpoint      float64
rv1            float64
rv2            float64
NSM              int64
WeekStatus      object
Day_of_week     object
dtype: object

In [20]:
data.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
NSM            0
WeekStatus     0
Day_of_week    0
dtype: int64

In [ ]:
data.groupby('T1')

In [21]:
data.T1.nunique()

630

In [29]:
data.T1.value_counts()

21.000000    384
21.390000    362
21.200000    358
21.500000    342
21.290000    341
20.890000    321
21.100000    317
21.790000    311
22.200000    303
20.790000    303
22.100000    302
21.890000    297
22.000000    296
21.700000    290
21.600000    265
22.500000    234
22.390000    232
20.700000    231
22.600000    222
22.890000    220
22.290000    218
22.700000    215
20.600000    214
22.790000    208
20.000000    188
23.000000    184
20.100000    174
19.890000    148
20.500000    145
20.200000    144
            ...
24.079221      1
18.767500      1
24.254545      1
20.778750      1
23.950649      1
24.499091      1
20.550000      1
24.464935      1
24.102597      1
20.625000      1
24.621818      1
24.762727      1
24.690000      1
17.763333      1
23.892208      1
22.096667      1
22.663333      1
23.775325      1
24.526364      1
24.628714      1
24.324675      1
21.042857      1
23.675000      1
22.163333      1
24.839571      1
24.348052      1
25.300000      1
23.521714      1
21.525000      1
23.658442      1
Name: T1, Length: 630, dtype: int64

In [30]:
all_columns = data.columns.tolist()

In [31]:
all_columns

['date',
 'Appliances',
 'lights',
 'T1',
 'RH_1',
 'T2',
 'RH_2',
 'T3',
 'RH_3',
 'T4',
 'RH_4',
 'T5',
 'RH_5',
 'T6',
 'RH_6',
 'T7',
 'RH_7',
 'T8',
 'RH_8',
 'T9',
 'RH_9',
 'T_out',
 'Press_mm_hg',
 'RH_out',
 'Windspeed',
 'Visibility',
 'Tdewpoint',
 'rv1',
 'rv2',
 'NSM',
 'WeekStatus',
 'Day_of_week']