# Exploratory Analysis

This notebook is to analyse the energy data and come up with more conclusion

In [19]:
#Importing Libraries
import matplotlib.pyplot as plt
import pandas as pd
import time
import numpy as np
import seaborn as sns
import datetime
import math


from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

%matplotlib inline

In [20]:
data= pd.read_csv("./Dataset/energydata_complete.csv")

In [21]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

<p>Variable Description<br />
====================</p>

<ul>
	<li>date time year-month-day hour:minute:second&nbsp;</li>
	<li>Appliances, energy use in Wh</li>
	<li>lights, energy use of light fixtures in the house in Wh</li>
	<li>T1, Temperature in kitchen area, in Celsius</li>
	<li>RH_1, Humidity in kitchen area, in %</li>
	<li>T2, Temperature in living room area, in Celsius</li>
	<li>RH_2, Humidity in living room area, in %</li>
	<li>T3, Temperature in laundry room area</li>
	<li>RH_3, Humidity in laundry room area, in %</li>
	<li>T4, Temperature in office room, in Celsius</li>
	<li>RH_4, Humidity in office room, in %</li>
	<li>T5, Temperature in bathroom, in Celsius</li>
	<li>RH_5, Humidity in bathroom, in %</li>
	<li>T6, Temperature outside the building (north side), in Celsius</li>
	<li>RH_6, Humidity outside the building (north side), in %</li>
	<li>T7, Temperature in ironing room , in Celsius</li>
	<li>RH_7, Humidity in ironing room, in %</li>
	<li>T8, Temperature in teenager room 2, in Celsius</li>
	<li>RH_8, Humidity in teenager room 2, in %</li>
	<li>T9, Temperature in parents room, in Celsius</li>
	<li>RH_9, Humidity in parents room, in %</li>
	<li>To, Temperature outside (from Chi&egrave;vres weather station), in Celsius</li>
	<li>Pressure (from Chi&egrave;vres weather station), in mm Hg</li>
	<li>RH_out, Humidity outside (from Chi&egrave;vres weather station), in %</li>
	<li>Windspeed (from Chi&egrave;vres weather station), in m/s</li>
	<li>Visibility (from Chi&egrave;vres weather station), in km</li>
	<li>Tdewpoint (from Chi&egrave;vres weather station), &deg;C</li>
	<li>rv1, Random variable 1, nondimensional</li>
	<li>rv2, Rnadom variable 2, nondimensional</li>
</ul>

<p>Where indicated, data from the nearest airport weather station (Chi&egrave;vres Airport, Belgium) was downloaded from a public data set from&nbsp;</p>

<p>Reliable Prognosis, rp5.ru. Permission was obtained from Reliable Prognosis for the distribution of the 4 months of data.<br />
&nbsp;</p>

In [22]:
data.shape

(19735, 29)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
date           19735 non-null object
Appliances     19735 non-null int64
lights         19735 non-null int64
T1             19735 non-null float64
RH_1           19735 non-null float64
T2             19735 non-null float64
RH_2           19735 non-null float64
T3             19735 non-null float64
RH_3           19735 non-null float64
T4             19735 non-null float64
RH_4           19735 non-null float64
T5             19735 non-null float64
RH_5           19735 non-null float64
T6             19735 non-null float64
RH_6           19735 non-null float64
T7             19735 non-null float64
RH_7           19735 non-null float64
T8             19735 non-null float64
RH_8           19735 non-null float64
T9             19735 non-null float64
RH_9           19735 non-null float64
T_out          19735 non-null float64
Press_mm_hg    19735 non-null float64
RH_out         19735 non-null float64
Windspeed      19735 non-null float64
Visibility     19735 non-null float64
Tdewpoint      19735 non-null float64
rv1            19735 non-null float64
rv2            19735 non-null float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [24]:
data.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

We can conclud that there is no missing values here.

In [25]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Appliances,19735.0,97.694958,102.524891,10.000000,50.000000,60.000000,100.000000,1080.000000
lights,19735.0,3.801875,7.935988,0.000000,0.000000,0.000000,0.000000,70.000000
T1,19735.0,21.686571,1.606066,16.790000,20.760000,21.600000,22.600000,26.260000
RH_1,19735.0,40.259739,3.979299,27.023333,37.333333,39.656667,43.066667,63.360000
T2,19735.0,20.341219,2.192974,16.100000,18.790000,20.000000,21.500000,29.856667
RH_2,19735.0,40.420420,4.069813,20.463333,37.900000,40.500000,43.260000,56.026667
T3,19735.0,22.267611,2.006111,17.200000,20.790000,22.100000,23.290000,29.236000
RH_3,19735.0,39.242500,3.254576,28.766667,36.900000,38.530000,41.760000,50.163333
T4,19735.0,20.855335,2.042884,15.100000,19.530000,20.666667,22.100000,26.200000
RH_4,19735.0,39.026904,4.341321,27.660000,35.530000,38.400000,42.156667,51.090000
T5,19735.0,19.592106,1.844623,15.330000,18.277500,19.390000,20.619643,25.795000
RH_5,19735.0,50.949283,9.022034,29.815000,45.400000,49.090000,53.663333,96.321667
T6,19735.0,7.910939,6.090347,-6.065000,3.626667,7.300000,11.256000,28.290000
RH_6,19735.0,54.609083,31.149806,1.000000,30.025000,55.290000,83.226667,99.900000
T7,19735.0,20.267106,2.109993,15.390000,18.700000,20.033333,21.600000,26.000000
RH_7,19735.0,35.388200,5.114208,23.200000,31.500000,34.863333,39.000000,51.400000
T8,19735.0,22.029107,1.956162,16.306667,20.790000,22.100000,23.390000,27.230000
RH_8,19735.0,42.936165,5.224361,29.600000,39.066667,42.375000,46.536000,58.780000
T9,19735.0,19.485828,2.014712,14.890000,18.000000,19.390000,20.600000,24.500000
RH_9,19735.0,41.552401,4.151497,29.166667,38.500000,40.900000,44.338095,53.326667
T_out,19735.0,7.411665,5.317409,-5.000000,3.666667,6.916667,10.408333,26.100000
Press_mm_hg,19735.0,755.522602,7.399441,729.300000,750.933333,756.100000,760.933333,772.300000
RH_out,19735.0,79.750418,14.901088,24.000000,70.333333,83.666667,91.666667,100.000000
Windspeed,19735.0,4.039752,2.451221,0.000000,2.000000,3.666667,5.500000,14.000000
Visibility,19735.0,38.330834,11.794719,1.000000,29.000000,40.000000,40.000000,66.000000
Tdewpoint,19735.0,3.760707,4.194648,-6.600000,0.900000,3.433333,6.566667,15.500000
rv1,19735.0,24.988033,14.496634,0.005322,12.497889,24.897653,37.583769,49.996530
rv2,19735.0,24.988033,14.496634,0.005322,12.497889,24.897653,37.583769,49.996530

In [26]:
data_date = data["date"]
print("First Date time of Observation : ",data_date[0])
print("Last Date time of Observation : ",data_date.iloc[-1])

First Date time of Observation :  2016-01-11 17:00:00
Last Date time of Observation :  2016-05-27 18:00:00

In [27]:
data["date"] = pd.to_datetime(data["date"],format="%Y-%m-%d %H:%M:%S")
data

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.530000,6.600000,733.500000,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.560000,6.483333,733.600000,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.500000,6.366667,733.700000,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.400000,6.250000,733.800000,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.400000,6.133333,733.900000,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
5,2016-01-11 17:50:00,50,40,19.890000,46.026667,19.200000,44.500000,19.790000,44.933333,18.890000,...,17.000000,45.290000,6.016667,734.000000,92.000000,5.333333,43.833333,4.800000,44.919484,44.919484
6,2016-01-11 18:00:00,60,50,19.890000,45.766667,19.200000,44.500000,19.790000,44.900000,18.890000,...,17.000000,45.290000,5.900000,734.100000,92.000000,5.000000,40.000000,4.700000,47.233763,47.233763
7,2016-01-11 18:10:00,60,50,19.856667,45.560000,19.200000,44.500000,19.730000,44.900000,18.890000,...,17.000000,45.290000,5.916667,734.166667,91.833333,5.166667,40.000000,4.683333,33.039890,33.039890
8,2016-01-11 18:20:00,60,40,19.790000,45.597500,19.200000,44.433333,19.730000,44.790000,18.890000,...,17.000000,45.290000,5.933333,734.233333,91.666667,5.333333,40.000000,4.666667,31.455702,31.455702
9,2016-01-11 18:30:00,70,40,19.856667,46.090000,19.230000,44.400000,19.790000,44.863333,18.890000,...,17.000000,45.290000,5.950000,734.300000,91.500000,5.500000,40.000000,4.650000,3.089314,3.089314
10,2016-01-11 18:40:00,230,70,19.926667,45.863333,19.356667,44.400000,19.790000,44.900000,18.890000,...,17.000000,45.290000,5.966667,734.366667,91.333333,5.666667,40.000000,4.633333,10.298729,10.298729
11,2016-01-11 18:50:00,580,60,20.066667,46.396667,19.426667,44.400000,19.790000,44.826667,19.000000,...,16.890000,45.290000,5.983333,734.433333,91.166667,5.833333,40.000000,4.616667,8.827838,8.827838
12,2016-01-11 19:00:00,430,50,20.133333,48.000000,19.566667,44.400000,19.890000,44.900000,19.000000,...,16.963333,45.290000,6.000000,734.500000,91.000000,6.000000,40.000000,4.600000,34.351142,34.351142
13,2016-01-11 19:10:00,250,40,20.260000,52.726667,19.730000,45.100000,19.890000,45.493333,19.000000,...,16.890000,45.326667,6.000000,734.616667,90.500000,6.000000,40.000000,4.516667,19.205186,19.205186
14,2016-01-11 19:20:00,100,10,20.426667,55.893333,19.856667,45.833333,20.033333,47.526667,19.000000,...,16.890000,45.345000,6.000000,734.733333,90.000000,6.000000,40.000000,4.433333,38.492071,38.492071
15,2016-01-11 19:30:00,100,10,20.566667,53.893333,20.033333,46.756667,20.100000,48.466667,19.000000,...,16.890000,45.326667,6.000000,734.850000,89.500000,6.000000,40.000000,4.350000,24.884962,24.884962
16,2016-01-11 19:40:00,90,10,20.730000,52.660000,20.166667,47.223333,20.200000,48.530000,18.926667,...,16.890000,45.290000,6.000000,734.966667,89.000000,6.000000,40.000000,4.266667,35.880925,35.880925
17,2016-01-11 19:50:00,70,30,20.856667,53.660000,20.200000,47.056667,20.200000,48.447500,18.890000,...,16.890000,45.290000,6.000000,735.083333,88.500000,6.000000,40.000000,4.183333,49.595305,49.595305
18,2016-01-11 20:00:00,80,30,20.890000,51.193333,20.200000,46.330000,20.200000,48.193333,18.963333,...,16.890000,45.200000,6.000000,735.200000,88.000000,6.000000,40.000000,4.100000,19.001759,19.001759
19,2016-01-11 20:10:00,140,40,20.890000,49.800000,20.200000,46.026667,20.166667,47.633333,19.033333,...,16.890000,45.200000,6.000000,735.233333,87.833333,6.000000,40.000000,4.066667,38.872261,38.872261
20,2016-01-11 20:20:00,120,20,20.890000,48.433333,20.200000,45.722500,20.166667,47.300000,19.175000,...,16.890000,45.126667,6.000000,735.266667,87.666667,6.000000,40.000000,4.033333,46.735262,46.735262
21,2016-01-11 20:30:00,190,40,20.963333,47.633333,20.260000,45.530000,20.200000,47.026667,19.260000,...,16.890000,45.126667,6.000000,735.300000,87.500000,6.000000,40.000000,4.000000,10.607126,10.607126
22,2016-01-11 20:40:00,110,40,21.033333,47.063333,20.290000,45.223333,20.260000,46.826667,19.323333,...,16.890000,45.060000,6.000000,735.333333,87.333333,6.000000,40.000000,3.966667,32.583688,32.583688
23,2016-01-11 20:50:00,110,40,21.100000,46.596667,20.356667,44.963333,20.290000,46.633333,19.390000,...,16.890000,45.000000,6.000000,735.366667,87.166667,6.000000,40.000000,3.933333,6.277755,6.277755
24,2016-01-11 21:00:00,110,30,21.133333,46.060000,20.426667,44.760000,20.290000,46.433333,19.390000,...,16.890000,44.966667,6.000000,735.400000,87.000000,6.000000,40.000000,3.900000,13.361033,13.361033
25,2016-01-11 21:10:00,110,20,21.200000,45.800000,20.500000,44.760000,20.390000,46.223333,19.390000,...,16.890000,44.900000,5.933333,735.466667,87.166667,6.000000,40.000000,3.866667,19.305705,19.305705
26,2016-01-11 21:20:00,100,30,21.290000,45.900000,20.533333,45.090000,20.390000,46.090000,19.390000,...,16.890000,44.790000,5.866667,735.533333,87.333333,6.000000,40.000000,3.833333,0.669517,0.669517
27,2016-01-11 21:30:00,100,20,21.356667,45.826667,20.666667,45.163333,20.390000,46.090000,19.390000,...,16.890000,44.790000,5.800000,735.600000,87.500000,6.000000,40.000000,3.800000,19.119398,19.119398
28,2016-01-11 21:40:00,100,20,21.390000,45.690000,20.700000,45.060000,20.390000,46.090000,19.426667,...,16.890000,44.700000,5.733333,735.666667,87.666667,6.000000,40.000000,3.766667,43.484542,43.484542
29,2016-01-11 21:50:00,100,20,21.500000,45.333333,20.700000,44.933333,20.390000,46.060000,19.566667,...,16.890000,44.700000,5.666667,735.733333,87.833333,6.000000,40.000000,3.733333,17.017450,17.017450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19705,2016-05-27 13:10:00,280,0,25.033333,48.363333,26.528571,40.595714,28.496667,41.900000,24.500000,...,23.100000,46.500000,21.250000,756.050000,59.833333,1.166667,23.666667,13.100000,32.420348,32.420348
19706,2016-05-27 13:20:00,240,0,25.166667,48.156667,26.600000,40.940000,28.290000,41.966667,24.500000,...,23.100000,46.500000,21.400000,756.000000,59.666667,1.333333,23.333333,13.200000,49.189027,49.189027
19707,2016-05-27 13:30:00,250,0,25.323333,47.930000,26.600000,41.012857,28.200000,42.090000,24.533333,...,23.100000,46.522500,21.550000,755.950000,59.500000,1.500000,23.000000,13.300000,15.081162,15.081162
19708,2016-05-27 13:40:00,220,0,25.390000,47.656667,26.600000,41.036000,28.200000,42.030000,24.600000,...,23.100000,46.530000,21.700000,755.900000,59.333333,1.666667,22.666667,13.400000,45.226866,45.226866
19709,2016-05-27 13:50:00,230,0,25.500000,47.133333,26.600000,41.000000,28.200000,41.796667,24.600000,...,23.100000,46.530000,21.850000,755.850000,59.166667,1.833333,22.333333,13.500000,5.773431,5.773431
19710,2016-05-27 14:00:00,190,10,25.500000,47.060000,26.540000,41.000000,28.200000,41.530000,24.600000,...,23.100000,46.530000,22.000000,755.800000,59.000000,2.000000,22.000000,13.600000,41.515044,41.515044
19711,2016-05-27 14:10:00,160,0,25.600000,46.990000,26.512500,41.203750,28.200000,41.590000,24.633333,...,23.100000,46.530000,21.966667,755.800000,59.000000,2.000000,21.833333,13.550000,19.540642,19.540642
19712,2016-05-27 14:20:00,80,0,25.600000,46.730000,26.437143,41.384286,28.426667,41.430000,24.700000,...,23.100000,46.590000,21.933333,755.800000,59.000000,2.000000,21.666667,13.500000,16.977597,16.977597
19713,2016-05-27 14:30:00,60,0,25.566667,46.633333,26.370000,41.378000,28.566667,41.156667,24.700000,...,23.100000,46.626667,21.900000,755.800000,59.000000,2.000000,21.500000,13.450000,8.991420,8.991420
19714,2016-05-27 14:40:00,60,0,25.500000,46.360000,26.318571,41.264286,28.566667,40.663333,24.700000,...,23.100000,46.700000,21.866667,755.800000,59.000000,2.000000,21.333333,13.400000,40.409885,40.409885
19715,2016-05-27 14:50:00,60,0,25.500000,46.060000,26.350000,41.000000,28.426667,40.590000,24.666667,...,23.100000,46.590000,21.833333,755.800000,59.000000,2.000000,21.166667,13.350000,37.889086,37.889086
19716,2016-05-27 15:00:00,60,0,25.500000,45.933333,26.277143,41.000000,28.356667,40.560000,24.666667,...,23.100000,46.590000,21.800000,755.800000,59.000000,2.000000,21.000000,13.300000,17.123315,17.123315
19717,2016-05-27 15:10:00,70,0,25.500000,45.760000,26.200000,41.000000,28.290000,40.433333,24.700000,...,23.133333,46.590000,21.966667,755.750000,58.333333,2.000000,21.333333,13.283333,24.058432,24.058432
19718,2016-05-27 15:20:00,80,0,25.500000,45.626667,26.171429,41.000000,28.260000,40.260000,24.700000,...,23.133333,46.590000,22.133333,755.700000,57.666667,2.000000,21.666667,13.266667,9.538671,9.538671
19719,2016-05-27 15:30:00,80,0,25.500000,45.590000,26.100000,41.000000,28.200000,40.126667,24.700000,...,23.166667,46.590000,22.300000,755.650000,57.000000,2.000000,22.000000,13.250000,30.020685,30.020685
19720,2016-05-27 15:40:00,70,0,25.500000,45.522500,26.100000,41.051429,28.200000,40.200000,24.700000,...,23.100000,46.590000,22.466667,755.600000,56.333333,2.000000,22.333333,13.233333,23.851737,23.851737
19721,2016-05-27 15:50:00,100,0,25.500000,45.633333,26.080000,41.196000,28.133333,40.260000,24.700000,...,23.200000,46.590000,22.633333,755.550000,55.666667,2.000000,22.666667,13.216667,47.981309,47.981309
19722,2016-05-27 16:00:00,100,0,25.500000,45.730000,26.000000,41.428571,28.100000,40.433333,24.700000,...,23.200000,46.590000,22.800000,755.500000,55.000000,2.000000,23.000000,13.200000,18.215602,18.215602
19723,2016-05-27 16:10:00,90,0,25.500000,45.790000,26.000000,41.590000,28.100000,40.560000,24.700000,...,23.160000,46.590000,22.833333,755.450000,55.000000,2.166667,22.833333,13.233333,38.751594,38.751594
19724,2016-05-27 16:20:00,100,0,25.500000,45.933333,26.000000,41.652857,28.000000,40.700000,24.700000,...,23.200000,46.621429,22.866667,755.400000,55.000000,2.333333,22.666667,13.266667,32.306224,32.306224
19725,2016-05-27 16:30:00,220,0,25.426667,46.060000,26.000000,41.700000,28.000000,40.760000,24.700000,...,23.200000,46.700000,22.900000,755.350000,55.000000,2.500000,22.500000,13.300000,23.009520,23.009520
19726,2016-05-27 16:40:00,180,0,25.500000,46.530000,26.000000,41.725714,27.856667,40.500000,24.700000,...,23.200000,46.652857,22.933333,755.300000,55.000000,2.666667,22.333333,13.333333,25.296732,25.296732
19727,2016-05-27 16:50:00,120,0,25.500000,47.456667,26.000000,42.320000,27.663333,40.693333,24.700000,...,23.200000,46.718000,22.966667,755.250000,55.000000,2.833333,22.166667,13.366667,1.796395,1.796395
19728,2016-05-27 17:00:00,110,0,25.600000,47.193333,25.968571,42.528571,27.390000,41.030000,24.700000,...,23.200000,46.751429,23.000000,755.200000,55.000000,3.000000,22.000000,13.400000,18.248201,18.248201
19729,2016-05-27 17:10:00,90,0,25.533333,46.860000,25.978000,42.534000,27.323333,41.090000,24.700000,...,23.200000,46.745000,22.866667,755.200000,55.333333,3.166667,22.833333,13.366667,16.966162,16.966162
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.790000,22.733333,755.200000,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.790000,22.600000,755.200000,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.790000,22.466667,755.200000,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.817500,22.333333,755.200000,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.845000,22.200000,755.200000,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [11]:
data["date"].map(lambda x: x.time())

0        17:00:00
1        17:10:00
2        17:20:00
3        17:30:00
4        17:40:00
5        17:50:00
6        18:00:00
7        18:10:00
8        18:20:00
9        18:30:00
10       18:40:00
11       18:50:00
12       19:00:00
13       19:10:00
14       19:20:00
15       19:30:00
16       19:40:00
17       19:50:00
18       20:00:00
19       20:10:00
20       20:20:00
21       20:30:00
22       20:40:00
23       20:50:00
24       21:00:00
25       21:10:00
26       21:20:00
27       21:30:00
28       21:40:00
29       21:50:00
           ...
19705    13:10:00
19706    13:20:00
19707    13:30:00
19708    13:40:00
19709    13:50:00
19710    14:00:00
19711    14:10:00
19712    14:20:00
19713    14:30:00
19714    14:40:00
19715    14:50:00
19716    15:00:00
19717    15:10:00
19718    15:20:00
19719    15:30:00
19720    15:40:00
19721    15:50:00
19722    16:00:00
19723    16:10:00
19724    16:20:00
19725    16:30:00
19726    16:40:00
19727    16:50:00
19728    17:00:00
19729    17:10:00
19730    17:20:00
19731    17:30:00
19732    17:40:00
19733    17:50:00
19734    18:00:00
Name: date, Length: 19735, dtype: object

In [12]:
def dayoftheweek(day):
    if(day==0):
        return("Monday")
    if(day==1):
        return("Tuesday")
    if(day==2):
        return("Wednesday")
    if(day==3):
        return("Thurday")
    if(day==4):
        return("Friday")
    if(day==5):
        return("Saturday")
    if(day==6):
        return("Sunday")

In [28]:
data["dayoftheweek"] = data['date']
data["dayoftheweek"] = data['dayoftheweek'].apply(lambda x: dayoftheweek(x.dayofweek))
data

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2,dayoftheweek
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,45.530000,6.600000,733.500000,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433,Monday
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,45.560000,6.483333,733.600000,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195,Monday
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,45.500000,6.366667,733.700000,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668,Monday
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,45.400000,6.250000,733.800000,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389,Monday
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,45.400000,6.133333,733.900000,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097,Monday
5,2016-01-11 17:50:00,50,40,19.890000,46.026667,19.200000,44.500000,19.790000,44.933333,18.890000,...,45.290000,6.016667,734.000000,92.000000,5.333333,43.833333,4.800000,44.919484,44.919484,Monday
6,2016-01-11 18:00:00,60,50,19.890000,45.766667,19.200000,44.500000,19.790000,44.900000,18.890000,...,45.290000,5.900000,734.100000,92.000000,5.000000,40.000000,4.700000,47.233763,47.233763,Monday
7,2016-01-11 18:10:00,60,50,19.856667,45.560000,19.200000,44.500000,19.730000,44.900000,18.890000,...,45.290000,5.916667,734.166667,91.833333,5.166667,40.000000,4.683333,33.039890,33.039890,Monday
8,2016-01-11 18:20:00,60,40,19.790000,45.597500,19.200000,44.433333,19.730000,44.790000,18.890000,...,45.290000,5.933333,734.233333,91.666667,5.333333,40.000000,4.666667,31.455702,31.455702,Monday
9,2016-01-11 18:30:00,70,40,19.856667,46.090000,19.230000,44.400000,19.790000,44.863333,18.890000,...,45.290000,5.950000,734.300000,91.500000,5.500000,40.000000,4.650000,3.089314,3.089314,Monday
10,2016-01-11 18:40:00,230,70,19.926667,45.863333,19.356667,44.400000,19.790000,44.900000,18.890000,...,45.290000,5.966667,734.366667,91.333333,5.666667,40.000000,4.633333,10.298729,10.298729,Monday
11,2016-01-11 18:50:00,580,60,20.066667,46.396667,19.426667,44.400000,19.790000,44.826667,19.000000,...,45.290000,5.983333,734.433333,91.166667,5.833333,40.000000,4.616667,8.827838,8.827838,Monday
12,2016-01-11 19:00:00,430,50,20.133333,48.000000,19.566667,44.400000,19.890000,44.900000,19.000000,...,45.290000,6.000000,734.500000,91.000000,6.000000,40.000000,4.600000,34.351142,34.351142,Monday
13,2016-01-11 19:10:00,250,40,20.260000,52.726667,19.730000,45.100000,19.890000,45.493333,19.000000,...,45.326667,6.000000,734.616667,90.500000,6.000000,40.000000,4.516667,19.205186,19.205186,Monday
14,2016-01-11 19:20:00,100,10,20.426667,55.893333,19.856667,45.833333,20.033333,47.526667,19.000000,...,45.345000,6.000000,734.733333,90.000000,6.000000,40.000000,4.433333,38.492071,38.492071,Monday
15,2016-01-11 19:30:00,100,10,20.566667,53.893333,20.033333,46.756667,20.100000,48.466667,19.000000,...,45.326667,6.000000,734.850000,89.500000,6.000000,40.000000,4.350000,24.884962,24.884962,Monday
16,2016-01-11 19:40:00,90,10,20.730000,52.660000,20.166667,47.223333,20.200000,48.530000,18.926667,...,45.290000,6.000000,734.966667,89.000000,6.000000,40.000000,4.266667,35.880925,35.880925,Monday
17,2016-01-11 19:50:00,70,30,20.856667,53.660000,20.200000,47.056667,20.200000,48.447500,18.890000,...,45.290000,6.000000,735.083333,88.500000,6.000000,40.000000,4.183333,49.595305,49.595305,Monday
18,2016-01-11 20:00:00,80,30,20.890000,51.193333,20.200000,46.330000,20.200000,48.193333,18.963333,...,45.200000,6.000000,735.200000,88.000000,6.000000,40.000000,4.100000,19.001759,19.001759,Monday
19,2016-01-11 20:10:00,140,40,20.890000,49.800000,20.200000,46.026667,20.166667,47.633333,19.033333,...,45.200000,6.000000,735.233333,87.833333,6.000000,40.000000,4.066667,38.872261,38.872261,Monday
20,2016-01-11 20:20:00,120,20,20.890000,48.433333,20.200000,45.722500,20.166667,47.300000,19.175000,...,45.126667,6.000000,735.266667,87.666667,6.000000,40.000000,4.033333,46.735262,46.735262,Monday
21,2016-01-11 20:30:00,190,40,20.963333,47.633333,20.260000,45.530000,20.200000,47.026667,19.260000,...,45.126667,6.000000,735.300000,87.500000,6.000000,40.000000,4.000000,10.607126,10.607126,Monday
22,2016-01-11 20:40:00,110,40,21.033333,47.063333,20.290000,45.223333,20.260000,46.826667,19.323333,...,45.060000,6.000000,735.333333,87.333333,6.000000,40.000000,3.966667,32.583688,32.583688,Monday
23,2016-01-11 20:50:00,110,40,21.100000,46.596667,20.356667,44.963333,20.290000,46.633333,19.390000,...,45.000000,6.000000,735.366667,87.166667,6.000000,40.000000,3.933333,6.277755,6.277755,Monday
24,2016-01-11 21:00:00,110,30,21.133333,46.060000,20.426667,44.760000,20.290000,46.433333,19.390000,...,44.966667,6.000000,735.400000,87.000000,6.000000,40.000000,3.900000,13.361033,13.361033,Monday
25,2016-01-11 21:10:00,110,20,21.200000,45.800000,20.500000,44.760000,20.390000,46.223333,19.390000,...,44.900000,5.933333,735.466667,87.166667,6.000000,40.000000,3.866667,19.305705,19.305705,Monday
26,2016-01-11 21:20:00,100,30,21.290000,45.900000,20.533333,45.090000,20.390000,46.090000,19.390000,...,44.790000,5.866667,735.533333,87.333333,6.000000,40.000000,3.833333,0.669517,0.669517,Monday
27,2016-01-11 21:30:00,100,20,21.356667,45.826667,20.666667,45.163333,20.390000,46.090000,19.390000,...,44.790000,5.800000,735.600000,87.500000,6.000000,40.000000,3.800000,19.119398,19.119398,Monday
28,2016-01-11 21:40:00,100,20,21.390000,45.690000,20.700000,45.060000,20.390000,46.090000,19.426667,...,44.700000,5.733333,735.666667,87.666667,6.000000,40.000000,3.766667,43.484542,43.484542,Monday
29,2016-01-11 21:50:00,100,20,21.500000,45.333333,20.700000,44.933333,20.390000,46.060000,19.566667,...,44.700000,5.666667,735.733333,87.833333,6.000000,40.000000,3.733333,17.017450,17.017450,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19705,2016-05-27 13:10:00,280,0,25.033333,48.363333,26.528571,40.595714,28.496667,41.900000,24.500000,...,46.500000,21.250000,756.050000,59.833333,1.166667,23.666667,13.100000,32.420348,32.420348,Friday
19706,2016-05-27 13:20:00,240,0,25.166667,48.156667,26.600000,40.940000,28.290000,41.966667,24.500000,...,46.500000,21.400000,756.000000,59.666667,1.333333,23.333333,13.200000,49.189027,49.189027,Friday
19707,2016-05-27 13:30:00,250,0,25.323333,47.930000,26.600000,41.012857,28.200000,42.090000,24.533333,...,46.522500,21.550000,755.950000,59.500000,1.500000,23.000000,13.300000,15.081162,15.081162,Friday
19708,2016-05-27 13:40:00,220,0,25.390000,47.656667,26.600000,41.036000,28.200000,42.030000,24.600000,...,46.530000,21.700000,755.900000,59.333333,1.666667,22.666667,13.400000,45.226866,45.226866,Friday
19709,2016-05-27 13:50:00,230,0,25.500000,47.133333,26.600000,41.000000,28.200000,41.796667,24.600000,...,46.530000,21.850000,755.850000,59.166667,1.833333,22.333333,13.500000,5.773431,5.773431,Friday
19710,2016-05-27 14:00:00,190,10,25.500000,47.060000,26.540000,41.000000,28.200000,41.530000,24.600000,...,46.530000,22.000000,755.800000,59.000000,2.000000,22.000000,13.600000,41.515044,41.515044,Friday
19711,2016-05-27 14:10:00,160,0,25.600000,46.990000,26.512500,41.203750,28.200000,41.590000,24.633333,...,46.530000,21.966667,755.800000,59.000000,2.000000,21.833333,13.550000,19.540642,19.540642,Friday
19712,2016-05-27 14:20:00,80,0,25.600000,46.730000,26.437143,41.384286,28.426667,41.430000,24.700000,...,46.590000,21.933333,755.800000,59.000000,2.000000,21.666667,13.500000,16.977597,16.977597,Friday
19713,2016-05-27 14:30:00,60,0,25.566667,46.633333,26.370000,41.378000,28.566667,41.156667,24.700000,...,46.626667,21.900000,755.800000,59.000000,2.000000,21.500000,13.450000,8.991420,8.991420,Friday
19714,2016-05-27 14:40:00,60,0,25.500000,46.360000,26.318571,41.264286,28.566667,40.663333,24.700000,...,46.700000,21.866667,755.800000,59.000000,2.000000,21.333333,13.400000,40.409885,40.409885,Friday
19715,2016-05-27 14:50:00,60,0,25.500000,46.060000,26.350000,41.000000,28.426667,40.590000,24.666667,...,46.590000,21.833333,755.800000,59.000000,2.000000,21.166667,13.350000,37.889086,37.889086,Friday
19716,2016-05-27 15:00:00,60,0,25.500000,45.933333,26.277143,41.000000,28.356667,40.560000,24.666667,...,46.590000,21.800000,755.800000,59.000000,2.000000,21.000000,13.300000,17.123315,17.123315,Friday
19717,2016-05-27 15:10:00,70,0,25.500000,45.760000,26.200000,41.000000,28.290000,40.433333,24.700000,...,46.590000,21.966667,755.750000,58.333333,2.000000,21.333333,13.283333,24.058432,24.058432,Friday
19718,2016-05-27 15:20:00,80,0,25.500000,45.626667,26.171429,41.000000,28.260000,40.260000,24.700000,...,46.590000,22.133333,755.700000,57.666667,2.000000,21.666667,13.266667,9.538671,9.538671,Friday
19719,2016-05-27 15:30:00,80,0,25.500000,45.590000,26.100000,41.000000,28.200000,40.126667,24.700000,...,46.590000,22.300000,755.650000,57.000000,2.000000,22.000000,13.250000,30.020685,30.020685,Friday
19720,2016-05-27 15:40:00,70,0,25.500000,45.522500,26.100000,41.051429,28.200000,40.200000,24.700000,...,46.590000,22.466667,755.600000,56.333333,2.000000,22.333333,13.233333,23.851737,23.851737,Friday
19721,2016-05-27 15:50:00,100,0,25.500000,45.633333,26.080000,41.196000,28.133333,40.260000,24.700000,...,46.590000,22.633333,755.550000,55.666667,2.000000,22.666667,13.216667,47.981309,47.981309,Friday
19722,2016-05-27 16:00:00,100,0,25.500000,45.730000,26.000000,41.428571,28.100000,40.433333,24.700000,...,46.590000,22.800000,755.500000,55.000000,2.000000,23.000000,13.200000,18.215602,18.215602,Friday
19723,2016-05-27 16:10:00,90,0,25.500000,45.790000,26.000000,41.590000,28.100000,40.560000,24.700000,...,46.590000,22.833333,755.450000,55.000000,2.166667,22.833333,13.233333,38.751594,38.751594,Friday
19724,2016-05-27 16:20:00,100,0,25.500000,45.933333,26.000000,41.652857,28.000000,40.700000,24.700000,...,46.621429,22.866667,755.400000,55.000000,2.333333,22.666667,13.266667,32.306224,32.306224,Friday
19725,2016-05-27 16:30:00,220,0,25.426667,46.060000,26.000000,41.700000,28.000000,40.760000,24.700000,...,46.700000,22.900000,755.350000,55.000000,2.500000,22.500000,13.300000,23.009520,23.009520,Friday
19726,2016-05-27 16:40:00,180,0,25.500000,46.530000,26.000000,41.725714,27.856667,40.500000,24.700000,...,46.652857,22.933333,755.300000,55.000000,2.666667,22.333333,13.333333,25.296732,25.296732,Friday
19727,2016-05-27 16:50:00,120,0,25.500000,47.456667,26.000000,42.320000,27.663333,40.693333,24.700000,...,46.718000,22.966667,755.250000,55.000000,2.833333,22.166667,13.366667,1.796395,1.796395,Friday
19728,2016-05-27 17:00:00,110,0,25.600000,47.193333,25.968571,42.528571,27.390000,41.030000,24.700000,...,46.751429,23.000000,755.200000,55.000000,3.000000,22.000000,13.400000,18.248201,18.248201,Friday
19729,2016-05-27 17:10:00,90,0,25.533333,46.860000,25.978000,42.534000,27.323333,41.090000,24.700000,...,46.745000,22.866667,755.200000,55.333333,3.166667,22.833333,13.366667,16.966162,16.966162,Friday
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,46.790000,22.733333,755.200000,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812,Friday
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,46.790000,22.600000,755.200000,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940,Friday
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,46.790000,22.466667,755.200000,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117,Friday
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,46.817500,22.333333,755.200000,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784,Friday
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,46.845000,22.200000,755.200000,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851,Friday

In [29]:
data.groupby('dayoftheweek').count()["date"]

dayoftheweek
Friday       2845
Monday       2778
Saturday     2736
Sunday       2736
Thurday      2880
Tuesday      2880
Wednesday    2880
Name: date, dtype: int64

In [30]:
def weekdaytype(day):
    if(day=="Saturday" or day == "Sunday"):
        return "weekend"
    else:
        return "Weekday"

In [113]:
data["WeekDayType"] = data["dayoftheweek"]
data["WeekDayType"] = data['WeekDayType'].apply(lambda x: weekdaytype(x))
data.groupby('WeekDayType').count()["date"]

WeekDayType
Weekday    14263
weekend     5472
Name: date, dtype: int64

In [31]:
data["TimeDelta"] = (data["date"]-data["date"].shift()).fillna(0)

In [18]:
data.groupby('TimeDelta').count()["date"]

KeyError: 'TimeDelta'

In [122]:
t = np.arange(0.0,1.0,0.01)

In [4]:
data["date"][0].month

1

In [33]:
months = data["date"].apply(lambda x: x.month)
months_indata = months.unique()

In [34]:
m = 2
test = data[(data['date'].map(lambda x: x.month) == 2) ]
test

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2,dayoftheweek,TimeDelta
2922,2016-02-01 00:00:00,40,20,22.230000,46.433333,21.290000,46.126667,21.700000,46.500000,19.290000,...,11.500000,755.500000,94.000000,8.000000,27.000000,10.500000,36.003944,36.003944,Monday,00:10:00
2923,2016-02-01 00:10:00,50,10,22.200000,46.433333,21.290000,46.200000,21.700000,46.500000,19.230000,...,11.500000,755.633333,93.500000,8.166667,29.166667,10.416667,46.708604,46.708604,Monday,00:10:00
2924,2016-02-01 00:20:00,40,10,22.175000,46.522500,21.260000,46.260000,21.666667,46.400000,19.200000,...,11.500000,755.766667,93.000000,8.333333,31.333333,10.333333,34.632194,34.632194,Monday,00:10:00
2925,2016-02-01 00:30:00,50,10,22.100000,46.590000,21.200000,46.260000,21.600000,46.400000,19.200000,...,11.500000,755.900000,92.500000,8.500000,33.500000,10.250000,44.429047,44.429047,Monday,00:10:00
2926,2016-02-01 00:40:00,40,20,22.100000,46.730000,21.166667,46.400000,21.600000,46.433333,19.200000,...,11.500000,756.033333,92.000000,8.666667,35.666667,10.166667,11.433293,11.433293,Monday,00:10:00
2927,2016-02-01 00:50:00,50,10,22.033333,46.790000,21.100000,46.466667,21.600000,46.500000,19.200000,...,11.500000,756.166667,91.500000,8.833333,37.833333,10.083333,27.328448,27.328448,Monday,00:10:00
2928,2016-02-01 01:00:00,60,10,22.000000,47.000000,21.100000,46.530000,21.666667,46.560000,19.166667,...,11.500000,756.300000,91.000000,9.000000,40.000000,10.000000,10.349960,10.349960,Monday,00:10:00
2929,2016-02-01 01:10:00,50,10,22.000000,47.060000,21.100000,46.590000,21.700000,46.500000,19.100000,...,11.450000,756.366667,91.166667,8.666667,37.333333,10.000000,26.852489,26.852489,Monday,00:10:00
2930,2016-02-01 01:20:00,40,10,21.890000,47.090000,21.066667,46.560000,21.760000,46.500000,19.100000,...,11.400000,756.433333,91.333333,8.333333,34.666667,10.000000,48.463889,48.463889,Monday,00:10:00
2931,2016-02-01 01:30:00,50,10,21.890000,47.090000,21.000000,46.500000,21.790000,46.466667,19.100000,...,11.350000,756.500000,91.500000,8.000000,32.000000,10.000000,40.161695,40.161695,Monday,00:10:00
2932,2016-02-01 01:40:00,40,10,21.856667,47.060000,21.000000,46.545000,21.730000,46.400000,19.100000,...,11.300000,756.566667,91.666667,7.666667,29.333333,10.000000,10.202341,10.202341,Monday,00:10:00
2933,2016-02-01 01:50:00,40,10,21.790000,47.000000,20.890000,46.626667,21.700000,46.500000,19.100000,...,11.250000,756.633333,91.833333,7.333333,26.666667,10.000000,20.032343,20.032343,Monday,00:10:00
2934,2016-02-01 02:00:00,50,20,21.790000,47.000000,20.890000,46.700000,21.760000,46.500000,19.066667,...,11.200000,756.700000,92.000000,7.000000,24.000000,10.000000,41.456244,41.456244,Monday,00:10:00
2935,2016-02-01 02:10:00,50,10,21.790000,47.000000,20.790000,46.590000,21.700000,46.500000,19.000000,...,11.200000,756.800000,91.833333,7.166667,30.500000,9.966667,22.056351,22.056351,Monday,00:10:00
2936,2016-02-01 02:20:00,40,10,21.700000,46.933333,20.790000,46.663333,21.760000,46.500000,19.000000,...,11.200000,756.900000,91.666667,7.333333,37.000000,9.933333,19.752662,19.752662,Monday,00:10:00
2937,2016-02-01 02:30:00,30,10,21.700000,46.933333,20.790000,46.700000,21.700000,46.500000,19.000000,...,11.200000,757.000000,91.500000,7.500000,43.500000,9.900000,1.544435,1.544435,Monday,00:10:00
2938,2016-02-01 02:40:00,20,10,21.700000,47.000000,20.790000,46.700000,21.700000,46.500000,19.000000,...,11.200000,757.100000,91.333333,7.666667,50.000000,9.866667,6.793305,6.793305,Monday,00:10:00
2939,2016-02-01 02:50:00,40,10,21.633333,46.933333,20.700000,46.790000,21.700000,46.500000,18.926667,...,11.200000,757.200000,91.166667,7.833333,56.500000,9.833333,33.859221,33.859221,Monday,00:10:00
2940,2016-02-01 03:00:00,40,10,21.600000,46.900000,20.700000,46.790000,21.700000,46.500000,18.926667,...,11.200000,757.300000,91.000000,8.000000,63.000000,9.800000,3.124403,3.124403,Monday,00:10:00
2941,2016-02-01 03:10:00,50,20,21.600000,46.966667,20.700000,46.826667,21.700000,46.530000,19.000000,...,11.116667,757.433333,91.666667,7.666667,62.833333,9.816667,49.876911,49.876911,Monday,00:10:00
2942,2016-02-01 03:20:00,40,10,21.600000,47.000000,20.700000,46.900000,21.700000,46.590000,18.926667,...,11.033333,757.566667,92.333333,7.333333,62.666667,9.833333,5.692451,5.692451,Monday,00:10:00
2943,2016-02-01 03:30:00,50,10,21.575000,47.022500,20.666667,46.900000,21.633333,46.626667,18.890000,...,10.950000,757.700000,93.000000,7.000000,62.500000,9.850000,31.266625,31.266625,Monday,00:10:00
2944,2016-02-01 03:40:00,50,10,21.500000,47.090000,20.600000,46.966667,21.700000,46.626667,18.890000,...,10.866667,757.833333,93.666667,6.666667,62.333333,9.866667,1.279328,1.279328,Monday,00:10:00
2945,2016-02-01 03:50:00,60,10,21.500000,47.090000,20.600000,47.000000,21.666667,46.626667,18.890000,...,10.783333,757.966667,94.333333,6.333333,62.166667,9.883333,3.437122,3.437122,Monday,00:10:00
2946,2016-02-01 04:00:00,50,10,21.426667,47.030000,20.600000,47.000000,21.675000,46.700000,18.890000,...,10.700000,758.100000,95.000000,6.000000,62.000000,9.900000,9.416865,9.416865,Monday,00:10:00
2947,2016-02-01 04:10:00,40,20,21.390000,47.090000,20.566667,47.090000,21.700000,46.700000,18.890000,...,10.766667,758.150000,94.166667,6.333333,62.166667,9.833333,40.009572,40.009572,Monday,00:10:00
2948,2016-02-01 04:20:00,50,10,21.390000,47.090000,20.500000,47.163333,21.700000,46.700000,18.890000,...,10.833333,758.200000,93.333333,6.666667,62.333333,9.766667,41.741211,41.741211,Monday,00:10:00
2949,2016-02-01 04:30:00,40,10,21.390000,47.126667,20.500000,47.200000,21.700000,46.700000,18.856667,...,10.900000,758.250000,92.500000,7.000000,62.500000,9.700000,36.234386,36.234386,Monday,00:10:00
2950,2016-02-01 04:40:00,50,10,21.390000,47.200000,20.500000,47.200000,21.700000,46.700000,18.790000,...,10.966667,758.300000,91.666667,7.333333,62.666667,9.633333,14.031495,14.031495,Monday,00:10:00
2951,2016-02-01 04:50:00,40,10,21.356667,47.200000,20.500000,47.230000,21.633333,46.626667,18.890000,...,11.033333,758.350000,90.833333,7.666667,62.833333,9.566667,32.145135,32.145135,Monday,00:10:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7068,2016-02-29 19:00:00,110,10,21.566667,38.026667,19.390000,36.750000,23.263333,34.933333,19.790000,...,2.600000,763.400000,74.000000,3.000000,28.000000,-1.700000,18.370826,18.370826,Monday,00:10:00
7069,2016-02-29 19:10:00,100,10,21.500000,37.833333,19.290000,37.000000,23.066667,34.863333,19.760000,...,2.416667,763.433333,74.500000,3.000000,27.666667,-1.766667,17.999381,17.999381,Monday,00:10:00
7070,2016-02-29 19:20:00,90,20,21.566667,37.360000,19.290000,36.800000,23.000000,34.790000,19.700000,...,2.233333,763.466667,75.000000,3.000000,27.333333,-1.833333,36.358837,36.358837,Monday,00:10:00
7071,2016-02-29 19:30:00,80,0,21.600000,37.060000,19.290000,36.430000,22.760000,34.663333,19.700000,...,2.050000,763.500000,75.500000,3.000000,27.000000,-1.900000,45.777686,45.777686,Monday,00:10:00
7072,2016-02-29 19:40:00,100,10,21.600000,36.860000,19.290000,36.290000,22.633333,34.530000,19.700000,...,1.866667,763.533333,76.000000,3.000000,26.666667,-1.966667,41.070703,41.070703,Monday,00:10:00
7073,2016-02-29 19:50:00,90,10,21.600000,36.693333,19.290000,36.163333,22.500000,34.500000,19.600000,...,1.683333,763.566667,76.500000,3.000000,26.333333,-2.033333,11.493306,11.493306,Monday,00:10:00
7074,2016-02-29 20:00:00,130,20,21.600000,36.300000,19.290000,36.030000,22.426667,34.433333,19.600000,...,1.500000,763.600000,77.000000,3.000000,26.000000,-2.100000,47.499536,47.499536,Monday,00:10:00
7075,2016-02-29 20:10:00,120,30,21.600000,35.996667,19.390000,35.890000,22.390000,34.400000,19.633333,...,1.250000,763.600000,77.500000,2.833333,25.333333,-2.250000,13.904176,13.904176,Monday,00:10:00
7076,2016-02-29 20:20:00,110,20,21.600000,35.530000,19.390000,36.496667,22.390000,34.466667,19.966667,...,1.000000,763.600000,78.000000,2.666667,24.666667,-2.400000,9.387049,9.387049,Monday,00:10:00
7077,2016-02-29 20:30:00,110,30,21.600000,35.466667,19.500000,37.090000,22.356667,34.626667,20.630000,...,0.750000,763.600000,78.500000,2.500000,24.000000,-2.550000,21.665932,21.665932,Monday,00:10:00
7078,2016-02-29 20:40:00,100,20,21.625000,35.400000,19.500000,36.963333,22.290000,34.700000,21.096667,...,0.500000,763.600000,79.000000,2.333333,23.333333,-2.700000,49.254551,49.254551,Monday,00:10:00
7079,2016-02-29 20:50:00,80,20,21.700000,35.326667,19.600000,36.663333,22.260000,34.700000,21.633333,...,0.250000,763.600000,79.500000,2.166667,22.666667,-2.850000,29.166523,29.166523,Monday,00:10:00
7080,2016-02-29 21:00:00,80,20,21.790000,35.163333,19.600000,36.530000,22.200000,34.700000,21.700000,...,0.000000,763.600000,80.000000,2.000000,22.000000,-3.000000,38.132523,38.132523,Monday,00:10:00
7081,2016-02-29 21:10:00,80,30,21.790000,35.030000,19.700000,36.466667,22.100000,34.700000,21.600000,...,-0.033333,763.566667,80.833333,1.833333,21.666667,-2.916667,9.113278,9.113278,Monday,00:10:00
7082,2016-02-29 21:20:00,110,20,21.823333,34.966667,19.700000,36.326667,22.033333,34.626667,21.460000,...,-0.066667,763.533333,81.666667,1.666667,21.333333,-2.833333,42.511409,42.511409,Monday,00:10:00
7083,2016-02-29 21:30:00,110,20,21.890000,34.900000,19.700000,36.260000,21.963333,34.590000,21.390000,...,-0.100000,763.500000,82.500000,1.500000,21.000000,-2.750000,40.194730,40.194730,Monday,00:10:00
7084,2016-02-29 21:40:00,110,30,21.890000,34.760000,19.700000,36.126667,21.890000,34.590000,21.323333,...,-0.133333,763.466667,83.333333,1.333333,20.666667,-2.666667,7.052972,7.052972,Monday,00:10:00
7085,2016-02-29 21:50:00,110,20,21.890000,34.700000,19.700000,36.000000,21.890000,34.645000,21.200000,...,-0.166667,763.433333,84.166667,1.166667,20.333333,-2.583333,29.905097,29.905097,Monday,00:10:00
7086,2016-02-29 22:00:00,100,20,21.890000,34.560000,19.700000,36.000000,21.856667,34.663333,21.100000,...,-0.200000,763.400000,85.000000,1.000000,20.000000,-2.500000,15.882947,15.882947,Monday,00:10:00
7087,2016-02-29 22:10:00,90,30,21.890000,34.433333,19.745000,35.845000,21.790000,34.530000,21.100000,...,-0.400000,763.466667,85.833333,1.166667,27.166667,-2.550000,25.680954,25.680954,Monday,00:10:00
7088,2016-02-29 22:20:00,60,20,21.963333,34.500000,19.760000,35.963333,21.790000,34.530000,21.000000,...,-0.600000,763.533333,86.666667,1.333333,34.333333,-2.600000,23.608571,23.608571,Monday,00:10:00
7089,2016-02-29 22:30:00,50,20,21.890000,34.700000,19.700000,36.163333,21.730000,34.723333,21.000000,...,-0.800000,763.600000,87.500000,1.500000,41.500000,-2.650000,40.637856,40.637856,Monday,00:10:00
7090,2016-02-29 22:40:00,70,20,21.926667,34.700000,19.700000,36.326667,21.666667,34.933333,21.096667,...,-1.000000,763.666667,88.333333,1.666667,48.666667,-2.700000,11.143695,11.143695,Monday,00:10:00
7091,2016-02-29 22:50:00,60,30,21.926667,34.700000,19.700000,36.466667,21.600000,35.060000,21.496667,...,-1.200000,763.733333,89.166667,1.833333,55.833333,-2.750000,43.407392,43.407392,Monday,00:10:00
7092,2016-02-29 23:00:00,60,20,21.890000,34.730000,19.600000,36.530000,21.500000,35.230000,22.066667,...,-1.400000,763.800000,90.000000,2.000000,63.000000,-2.800000,14.172725,14.172725,Monday,00:10:00
7093,2016-02-29 23:10:00,60,20,21.890000,34.790000,19.600000,36.663333,21.500000,35.290000,22.326667,...,-1.333333,763.766667,90.333333,1.833333,62.833333,-2.683333,9.129710,9.129710,Monday,00:10:00
7094,2016-02-29 23:20:00,40,20,21.890000,34.826667,19.600000,36.790000,21.390000,35.290000,22.260000,...,-1.266667,763.733333,90.666667,1.666667,62.666667,-2.566667,6.486251,6.486251,Monday,00:10:00
7095,2016-02-29 23:30:00,40,20,21.890000,34.900000,19.533333,36.863333,21.390000,35.290000,22.200000,...,-1.200000,763.700000,91.000000,1.500000,62.500000,-2.450000,12.844042,12.844042,Monday,00:10:00
7096,2016-02-29 23:40:00,40,30,21.790000,34.900000,19.500000,37.030000,21.290000,35.200000,22.100000,...,-1.133333,763.666667,91.333333,1.333333,62.333333,-2.333333,27.441909,27.441909,Monday,00:10:00
7097,2016-02-29 23:50:00,40,20,21.790000,34.997500,19.426667,37.090000,21.230000,35.200000,22.033333,...,-1.066667,763.633333,91.666667,1.166667,62.166667,-2.216667,6.860363,6.860363,Monday,00:10:00

In [40]:
%matplotlib inline
def f(month, parameter):
    new_data = data[(data['date'].map(lambda x: x.month) == month)]
    plt.plot(new_data['date'].map(lambda x: x.day), new_data[parameter])
    plt.figure(figsize=(30,100))
    plt.show()
print("Input Month")
interact(f, month=months_indata, parameter = list(data))

Input Month

interactive(children=(Dropdown(description='month', options=(1, 2, 3, 4, 5), value=1), Dropdown(description='parameter', options=('date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1', 'rv2', 'dayoftheweek', 'TimeDelta'), value='date'), Output()), _dom_classes=('widget-interact',))

In [39]:
from ipywidgets import widgets
from IPython.display import display
text = widgets.Text()
display(text)
text.on_submit('hello')

Text(value='')

TypeError: 'str' object is not callable

In [43]:
data['NSM'] = pd.to_datetime(data['date'])
data['NSM'] = (data['NSM'].dt.hour*60 + data['NSM'].dt.minute)*60 + data['NSM'].dt.second

In [114]:
data

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2,dayoftheweek,TimeDelta,NSM,WeekDayType
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433,Monday,00:00:00,61200,Weekday
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195,Monday,00:10:00,61800,Weekday
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668,Monday,00:10:00,62400,Weekday
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389,Monday,00:10:00,63000,Weekday
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097,Monday,00:10:00,63600,Weekday
5,2016-01-11 17:50:00,50,40,19.890000,46.026667,19.200000,44.500000,19.790000,44.933333,18.890000,...,92.000000,5.333333,43.833333,4.800000,44.919484,44.919484,Monday,00:10:00,64200,Weekday
6,2016-01-11 18:00:00,60,50,19.890000,45.766667,19.200000,44.500000,19.790000,44.900000,18.890000,...,92.000000,5.000000,40.000000,4.700000,47.233763,47.233763,Monday,00:10:00,64800,Weekday
7,2016-01-11 18:10:00,60,50,19.856667,45.560000,19.200000,44.500000,19.730000,44.900000,18.890000,...,91.833333,5.166667,40.000000,4.683333,33.039890,33.039890,Monday,00:10:00,65400,Weekday
8,2016-01-11 18:20:00,60,40,19.790000,45.597500,19.200000,44.433333,19.730000,44.790000,18.890000,...,91.666667,5.333333,40.000000,4.666667,31.455702,31.455702,Monday,00:10:00,66000,Weekday
9,2016-01-11 18:30:00,70,40,19.856667,46.090000,19.230000,44.400000,19.790000,44.863333,18.890000,...,91.500000,5.500000,40.000000,4.650000,3.089314,3.089314,Monday,00:10:00,66600,Weekday
10,2016-01-11 18:40:00,230,70,19.926667,45.863333,19.356667,44.400000,19.790000,44.900000,18.890000,...,91.333333,5.666667,40.000000,4.633333,10.298729,10.298729,Monday,00:10:00,67200,Weekday
11,2016-01-11 18:50:00,580,60,20.066667,46.396667,19.426667,44.400000,19.790000,44.826667,19.000000,...,91.166667,5.833333,40.000000,4.616667,8.827838,8.827838,Monday,00:10:00,67800,Weekday
12,2016-01-11 19:00:00,430,50,20.133333,48.000000,19.566667,44.400000,19.890000,44.900000,19.000000,...,91.000000,6.000000,40.000000,4.600000,34.351142,34.351142,Monday,00:10:00,68400,Weekday
13,2016-01-11 19:10:00,250,40,20.260000,52.726667,19.730000,45.100000,19.890000,45.493333,19.000000,...,90.500000,6.000000,40.000000,4.516667,19.205186,19.205186,Monday,00:10:00,69000,Weekday
14,2016-01-11 19:20:00,100,10,20.426667,55.893333,19.856667,45.833333,20.033333,47.526667,19.000000,...,90.000000,6.000000,40.000000,4.433333,38.492071,38.492071,Monday,00:10:00,69600,Weekday
15,2016-01-11 19:30:00,100,10,20.566667,53.893333,20.033333,46.756667,20.100000,48.466667,19.000000,...,89.500000,6.000000,40.000000,4.350000,24.884962,24.884962,Monday,00:10:00,70200,Weekday
16,2016-01-11 19:40:00,90,10,20.730000,52.660000,20.166667,47.223333,20.200000,48.530000,18.926667,...,89.000000,6.000000,40.000000,4.266667,35.880925,35.880925,Monday,00:10:00,70800,Weekday
17,2016-01-11 19:50:00,70,30,20.856667,53.660000,20.200000,47.056667,20.200000,48.447500,18.890000,...,88.500000,6.000000,40.000000,4.183333,49.595305,49.595305,Monday,00:10:00,71400,Weekday
18,2016-01-11 20:00:00,80,30,20.890000,51.193333,20.200000,46.330000,20.200000,48.193333,18.963333,...,88.000000,6.000000,40.000000,4.100000,19.001759,19.001759,Monday,00:10:00,72000,Weekday
19,2016-01-11 20:10:00,140,40,20.890000,49.800000,20.200000,46.026667,20.166667,47.633333,19.033333,...,87.833333,6.000000,40.000000,4.066667,38.872261,38.872261,Monday,00:10:00,72600,Weekday
20,2016-01-11 20:20:00,120,20,20.890000,48.433333,20.200000,45.722500,20.166667,47.300000,19.175000,...,87.666667,6.000000,40.000000,4.033333,46.735262,46.735262,Monday,00:10:00,73200,Weekday
21,2016-01-11 20:30:00,190,40,20.963333,47.633333,20.260000,45.530000,20.200000,47.026667,19.260000,...,87.500000,6.000000,40.000000,4.000000,10.607126,10.607126,Monday,00:10:00,73800,Weekday
22,2016-01-11 20:40:00,110,40,21.033333,47.063333,20.290000,45.223333,20.260000,46.826667,19.323333,...,87.333333,6.000000,40.000000,3.966667,32.583688,32.583688,Monday,00:10:00,74400,Weekday
23,2016-01-11 20:50:00,110,40,21.100000,46.596667,20.356667,44.963333,20.290000,46.633333,19.390000,...,87.166667,6.000000,40.000000,3.933333,6.277755,6.277755,Monday,00:10:00,75000,Weekday
24,2016-01-11 21:00:00,110,30,21.133333,46.060000,20.426667,44.760000,20.290000,46.433333,19.390000,...,87.000000,6.000000,40.000000,3.900000,13.361033,13.361033,Monday,00:10:00,75600,Weekday
25,2016-01-11 21:10:00,110,20,21.200000,45.800000,20.500000,44.760000,20.390000,46.223333,19.390000,...,87.166667,6.000000,40.000000,3.866667,19.305705,19.305705,Monday,00:10:00,76200,Weekday
26,2016-01-11 21:20:00,100,30,21.290000,45.900000,20.533333,45.090000,20.390000,46.090000,19.390000,...,87.333333,6.000000,40.000000,3.833333,0.669517,0.669517,Monday,00:10:00,76800,Weekday
27,2016-01-11 21:30:00,100,20,21.356667,45.826667,20.666667,45.163333,20.390000,46.090000,19.390000,...,87.500000,6.000000,40.000000,3.800000,19.119398,19.119398,Monday,00:10:00,77400,Weekday
28,2016-01-11 21:40:00,100,20,21.390000,45.690000,20.700000,45.060000,20.390000,46.090000,19.426667,...,87.666667,6.000000,40.000000,3.766667,43.484542,43.484542,Monday,00:10:00,78000,Weekday
29,2016-01-11 21:50:00,100,20,21.500000,45.333333,20.700000,44.933333,20.390000,46.060000,19.566667,...,87.833333,6.000000,40.000000,3.733333,17.017450,17.017450,Monday,00:10:00,78600,Weekday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19705,2016-05-27 13:10:00,280,0,25.033333,48.363333,26.528571,40.595714,28.496667,41.900000,24.500000,...,59.833333,1.166667,23.666667,13.100000,32.420348,32.420348,Friday,00:10:00,47400,Weekday
19706,2016-05-27 13:20:00,240,0,25.166667,48.156667,26.600000,40.940000,28.290000,41.966667,24.500000,...,59.666667,1.333333,23.333333,13.200000,49.189027,49.189027,Friday,00:10:00,48000,Weekday
19707,2016-05-27 13:30:00,250,0,25.323333,47.930000,26.600000,41.012857,28.200000,42.090000,24.533333,...,59.500000,1.500000,23.000000,13.300000,15.081162,15.081162,Friday,00:10:00,48600,Weekday
19708,2016-05-27 13:40:00,220,0,25.390000,47.656667,26.600000,41.036000,28.200000,42.030000,24.600000,...,59.333333,1.666667,22.666667,13.400000,45.226866,45.226866,Friday,00:10:00,49200,Weekday
19709,2016-05-27 13:50:00,230,0,25.500000,47.133333,26.600000,41.000000,28.200000,41.796667,24.600000,...,59.166667,1.833333,22.333333,13.500000,5.773431,5.773431,Friday,00:10:00,49800,Weekday
19710,2016-05-27 14:00:00,190,10,25.500000,47.060000,26.540000,41.000000,28.200000,41.530000,24.600000,...,59.000000,2.000000,22.000000,13.600000,41.515044,41.515044,Friday,00:10:00,50400,Weekday
19711,2016-05-27 14:10:00,160,0,25.600000,46.990000,26.512500,41.203750,28.200000,41.590000,24.633333,...,59.000000,2.000000,21.833333,13.550000,19.540642,19.540642,Friday,00:10:00,51000,Weekday
19712,2016-05-27 14:20:00,80,0,25.600000,46.730000,26.437143,41.384286,28.426667,41.430000,24.700000,...,59.000000,2.000000,21.666667,13.500000,16.977597,16.977597,Friday,00:10:00,51600,Weekday
19713,2016-05-27 14:30:00,60,0,25.566667,46.633333,26.370000,41.378000,28.566667,41.156667,24.700000,...,59.000000,2.000000,21.500000,13.450000,8.991420,8.991420,Friday,00:10:00,52200,Weekday
19714,2016-05-27 14:40:00,60,0,25.500000,46.360000,26.318571,41.264286,28.566667,40.663333,24.700000,...,59.000000,2.000000,21.333333,13.400000,40.409885,40.409885,Friday,00:10:00,52800,Weekday
19715,2016-05-27 14:50:00,60,0,25.500000,46.060000,26.350000,41.000000,28.426667,40.590000,24.666667,...,59.000000,2.000000,21.166667,13.350000,37.889086,37.889086,Friday,00:10:00,53400,Weekday
19716,2016-05-27 15:00:00,60,0,25.500000,45.933333,26.277143,41.000000,28.356667,40.560000,24.666667,...,59.000000,2.000000,21.000000,13.300000,17.123315,17.123315,Friday,00:10:00,54000,Weekday
19717,2016-05-27 15:10:00,70,0,25.500000,45.760000,26.200000,41.000000,28.290000,40.433333,24.700000,...,58.333333,2.000000,21.333333,13.283333,24.058432,24.058432,Friday,00:10:00,54600,Weekday
19718,2016-05-27 15:20:00,80,0,25.500000,45.626667,26.171429,41.000000,28.260000,40.260000,24.700000,...,57.666667,2.000000,21.666667,13.266667,9.538671,9.538671,Friday,00:10:00,55200,Weekday
19719,2016-05-27 15:30:00,80,0,25.500000,45.590000,26.100000,41.000000,28.200000,40.126667,24.700000,...,57.000000,2.000000,22.000000,13.250000,30.020685,30.020685,Friday,00:10:00,55800,Weekday
19720,2016-05-27 15:40:00,70,0,25.500000,45.522500,26.100000,41.051429,28.200000,40.200000,24.700000,...,56.333333,2.000000,22.333333,13.233333,23.851737,23.851737,Friday,00:10:00,56400,Weekday
19721,2016-05-27 15:50:00,100,0,25.500000,45.633333,26.080000,41.196000,28.133333,40.260000,24.700000,...,55.666667,2.000000,22.666667,13.216667,47.981309,47.981309,Friday,00:10:00,57000,Weekday
19722,2016-05-27 16:00:00,100,0,25.500000,45.730000,26.000000,41.428571,28.100000,40.433333,24.700000,...,55.000000,2.000000,23.000000,13.200000,18.215602,18.215602,Friday,00:10:00,57600,Weekday
19723,2016-05-27 16:10:00,90,0,25.500000,45.790000,26.000000,41.590000,28.100000,40.560000,24.700000,...,55.000000,2.166667,22.833333,13.233333,38.751594,38.751594,Friday,00:10:00,58200,Weekday
19724,2016-05-27 16:20:00,100,0,25.500000,45.933333,26.000000,41.652857,28.000000,40.700000,24.700000,...,55.000000,2.333333,22.666667,13.266667,32.306224,32.306224,Friday,00:10:00,58800,Weekday
19725,2016-05-27 16:30:00,220,0,25.426667,46.060000,26.000000,41.700000,28.000000,40.760000,24.700000,...,55.000000,2.500000,22.500000,13.300000,23.009520,23.009520,Friday,00:10:00,59400,Weekday
19726,2016-05-27 16:40:00,180,0,25.500000,46.530000,26.000000,41.725714,27.856667,40.500000,24.700000,...,55.000000,2.666667,22.333333,13.333333,25.296732,25.296732,Friday,00:10:00,60000,Weekday
19727,2016-05-27 16:50:00,120,0,25.500000,47.456667,26.000000,42.320000,27.663333,40.693333,24.700000,...,55.000000,2.833333,22.166667,13.366667,1.796395,1.796395,Friday,00:10:00,60600,Weekday
19728,2016-05-27 17:00:00,110,0,25.600000,47.193333,25.968571,42.528571,27.390000,41.030000,24.700000,...,55.000000,3.000000,22.000000,13.400000,18.248201,18.248201,Friday,00:10:00,61200,Weekday
19729,2016-05-27 17:10:00,90,0,25.533333,46.860000,25.978000,42.534000,27.323333,41.090000,24.700000,...,55.333333,3.166667,22.833333,13.366667,16.966162,16.966162,Friday,00:10:00,61800,Weekday
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812,Friday,00:10:00,62400,Weekday
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940,Friday,00:10:00,63000,Weekday
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117,Friday,00:10:00,63600,Weekday
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784,Friday,00:10:00,64200,Weekday
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851,Friday,00:10:00,64800,Weekday

In [149]:
%matplotlib inline
day_date = range(1, 32)
month_date = range(1, 6)
save = {False,True}
def day_visual(Day,Month, parameter1, parameter2,save):
    new_data = data[(data['date'].map(lambda x: x.day) == Day) & (data['date'].map(lambda x: x.month) == Month)]
    plt.subplot(211)
    title = "Plot of "+parameter1+" and " +parameter2+" vs time"
    plt.title("Plot of "+parameter1+" and " +parameter2+" vs time" ) 
    plt.plot(new_data['date'].map(lambda x: x.hour), new_data[parameter1])
    plt.xlabel("Time") 
    plt.ylabel(parameter1)
    plt.subplot(212) 
    plt.plot(new_data['date'].map(lambda x: x.hour), new_data[parameter2])
    plt.ylabel(parameter2)
    plt.xlabel("Time")
    if(save):
        plt.savefig("./results/"+str(Month)+"_"+title.replace(" ","_")+".png")
    plt.show()
    return print("Correlation between ",parameter1," and ",parameter2,"is",str(new_data[parameter1].corr(new_data[parameter2])))
interact(day_visual,Day=day_date,Month=month_date, parameter1 = list(data),parameter2 = list(data), save=save)

interactive(children=(Dropdown(description='Day', options=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31), value=1), Dropdown(description='Month', options=(1, 2, 3, 4, 5), value=1), Dropdown(description='parameter1', options=('date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1', 'rv2', 'dayoftheweek', 'TimeDelta', 'NSM', 'WeekDayType'), value='date'), Dropdown(description='parameter2', options=('date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1', 'rv2', 'dayoftheweek', 'TimeDelta', 'NSM', 'WeekDayType'), value='date'), Dropdown(description='save', options=(False, True), value=False), Output()), _dom_classes=('widget-interact',))

In [145]:
%matplotlib inline
day_date = range(1, 32)
month_date = range(1, 6)
save = {False,True}
def day_visual(Month, parameterx, parametery,save):
    new_data = data[(data['date'].map(lambda x: x.month) == Month)]
    title = "Plot of "+parameterx+" vs " +parametery
    plt.title(title) 
    plt.plot(new_data[parameterx], new_data[parametery])
    plt.xlabel(parameterx) 
    plt.ylabel(parametery)
    if(save):
        plt.savefig("./results/"+str(Month)+"_"+title.replace(" ","_")+".png")
    plt.show()
interact(day_visual,Month=month_date, parameterx = list(data),parametery = list(data), save=save)

interactive(children=(Dropdown(description='Month', options=(1, 2, 3, 4, 5), value=1), Dropdown(description='parameterx', options=('date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1', 'rv2', 'dayoftheweek', 'TimeDelta', 'NSM', 'WeekDayType'), value='date'), Dropdown(description='parametery', options=('date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1', 'rv2', 'dayoftheweek', 'TimeDelta', 'NSM', 'WeekDayType'), value='date'), Dropdown(description='save', options=(False, True), value=False), Output()), _dom_classes=('widget-interact',))